.backgroundGeneral{
    background-image: url('https://desayunosfeministascantabria.files.wordpress.com/2018/10/cropped-logotipo-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}
