
.filtro{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 3px;
    display: block;
}
select {
    display: block;
}
.cantidad{
    text-align: right;
    padding: 20px;
    color: aliceblue;
}

body {
    background-color: #8E24AA
}

