.boton{
    background-color: #261343;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    width: 500px;
}
.boton:hover{
    background-color: #5c2ba6;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    height: 80%;
}
.row{
    display: flex;
    justify-content: center;
}

.backgroundGeneral{
    background-image: url('https://desayunosfeministascantabria.files.wordpress.com/2018/10/cropped-logotipo-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}
