html {
    position: relative;
    min-height: 100%;
}
.navbar {
    padding-left: 15px;
    background-color:#261343;
    color:white;          
}
#sticky-footer {
    background-color:#261343;
    color:white;   
    position: absolute;
    bottom: 0;
    width: 100%;
}

.backgroundGeneral{
    background-image: url('https://desayunosfeministascantabria.files.wordpress.com/2018/10/cropped-logotipo-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

main{
margin-bottom: 5%;
}